<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2"><a href="https://acca.ua/" target="_blank" class="logo"><img src="../../assets/img/logo.svg" alt=""></a></div>
      <div class="col-md-8 offset-md-2 contact">
        <span>
          E-mail: <a href="mailto:info@assa.kh.ua">info@assa.kh.ua</a>
        </span>
        <span>
          Тел: <a href="tel:+380687677767">+38 (068) 767-77-67</a>
        </span>
        <span>
          <a href="tel:+380577323483">+38 (057) 732-34-83</a>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="copy">
  <div class="container">
    © 2011-{{date | date:'yyyy'}} Видавництво АССА
  </div>
</div>
