.cover {
    height: 0;
    padding-top: 34%;
    background-image: url(../../assets/img/andriy.jpg);
    background-size: 65%;
    background-position: center bottom;
    background-repeat: no-repeat;
}