@import '../node_modules/videogular2/fonts/videogular.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400&display=swap&subset=cyrillic');
@import '../node_modules/bootstrap/scss/bootstrap-grid.scss';

* {
  --bg-color: #03b9ac;
  --dark: #00ae9d;
}

html,
body {
  height: 100%;
}

body {
  font-size: 18px;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: repeating-radial-gradient(
    circle,
    var(--dark),
    var(--dark) 10px,
    var(--bg-color) 10px, 
    var(--bg-color) 20px
);
}

.main-content {
  flex: 1;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.btn-action {
  text-align: center;
  padding: 7px 10px;
  text-decoration: none;
  min-width: 100px;
  display: inline-block;
  margin-left: auto;
  background-color: var(--bg-color);
  color: #fff;
  transition: box-shadow 0.3s;
  &:hover {
    box-shadow: 0 0 5px rgba(#000, 0.7);
  }
}

h1 {
  font-weight: 400;
}

app-home {
  background-image: url(assets/img/girl.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  margin-bottom: -20px;
}

app-lesson {
  display: block;
  width: 100%;
}