@import '../node_modules/videogular2/fonts/videogular.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400&display=swap&subset=cyrillic');
@import '../node_modules/bootstrap/scss/bootstrap-grid.scss';
@import 'vars';

html,
body {
  height: 100%;
}

body {
  font-size: 18px;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
 

  background:
linear-gradient(63deg, darken($bg, 5%) 23%, transparent 23%) 7px 0,
linear-gradient(63deg, transparent 74%, darken($bg, 5%) 78%),
linear-gradient(63deg, transparent 34%, darken($bg, 5%) 38%, darken($bg, 5%) 58%, transparent 62%),
$bg;
background-size: 8px 24px;
}

.main-content {
  flex: 1;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.btn-action {
  text-align: center;
  padding: 7px 10px;
  text-decoration: none;
  min-width: 100px;
  display: inline-block;
  margin-left: auto;
  background-color: darken($bg, 10);
  color: #fff;
  transition: 0.3s;

  &:hover {
    box-shadow: 0 0 5px rgba(#000, 0.7);
    background-color: darken($bg, 20);
  }
}

h1 {
  font-weight: 400;
}

app-home {
  @media screen and (min-width:769px) {
    background-image: url(assets/img/home-bg.png);
  }

  background-repeat: no-repeat;
  background-position: center bottom;
  margin-bottom: -20px;
  background-size: contain;
}

app-lesson {
  display: block;
  width: 100%;

  vg-player {
    vg-scrub-bar.strike {
      transition: bottom 1s;
    }

    vg-controls {
      background-color: darken($bg, 10);
    }

    vg-scrub-bar-current-time {
      .background {
        background-color: $bg;
      }
    }

    vg-scrub-bar-buffering-time .background {
      background-color: rgba($bg, .5);
    }

    @media screen and (max-width: 600px) {

      vg-playback-button,
      vg-time-display[vgproperty="left"],
      vg-volume,
      vg-mute {
        display: none;
      }

      vg-controls {
        font-size: 0.8rem;
      }
    }
  }
}
